<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="../static/css/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="blue-box position-relative">
            <div class="position-absolute top-0 start-0">
                <img class="img-fluid" src="../static/images/creta.png" height="400" width="400">
            </div>
            <div class="position-absolute" style="left: 37%; top:20%;">
                <img class="img-fluid" src="../static/images/logo.png" width="300">
            </div>
            <div class="position-absolute top-0 end-0">
                <img class="img-fluid" src="../static/images/g36.png" height="400" width="400">
            </div>
        </div>

{% block content %}
{% endblock %}

    </div>
</body>
</html>