    /* Custom CSS for changing link color to blue */
    @font-face {
      font-family: Lato-Regular;
      src: url('/static/fonts/Lato/Lato-Regular.ttf')  format('truetype');
    }
    body{
      font-family: Lato-Regular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      height:100%;
    }
    
    html {
      height:100%;
    }
  .container-fluid {
      min-height:100%;
  }
  
  .footer {
      margin-top:-40px;
  }

    .blue-link {
        font-weight: 500;
        
      }
      .black-text {
      color:black;
      
    }
    .blue-textbox {
      border: 2px solid blue;
      border-radius: 10px; /* Adjust the border radius as needed */
      background-color:rgb(20, 8, 182);
      color: white; /* Text color in the input boxes */
      width: 100%;
    }
    .login-button {  /*login button*/
      border-radius: 10px;
      background-color:#ff851b;
      
    }
    .yellow-bg {
     /* background-color: yellow;*/
      width: 320px;
      border: 2px;
      border-radius: 10px;
    }

    .reduce-margin-padding {
      margin: 3px 0; /* Reduce top and bottom margin */
      padding: 5px 10px; /* Adjust padding as needed */
    }
    .remember-forgot {
      display: flex;
     /* justify-content: space-between;*/
      align-items: center;
      margin: 50px 0; /* Adjust the margin to control the spacing if needed */
  }

  .remember-forgot a {
      margin-left: 10px; /* Add left margin to "Forgot Password" link to control the spacing */
  }

  .blue-box {
          background-color: rgb(20, 8, 182);
          height: 150px; /* Adjust the height as needed */
          border-bottom-left-radius: 10px; /* Curved from the bottom-left corner */
          border-bottom-right-radius: 10px; /* Curved from the bottom-right corner */
  
  }
  .form-control {
      border-color: transparent;
      
  }
  .card {
border-color: transparent;
}

.card-car{
  cursor: pointer;
  transform: scale(1,1);
  transition: all 0.3s ease 0s;
}
.card-car:hover , .card-car:focus {
  transform: scale(1.05,1.05)
}

.orange-text{
  color:#ff851b;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.orange-outline-button{
  border: 1px solid #ff851b;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins';
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url(bgpic.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}

nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 140px;
    height: 40px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.login-btn {
    text-decoration: none;
    color: #333;
    margin-right: 15px;
    font-weight: 400;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #ffff;
    background-image: linear-gradient(45deg, rgb(7, 18, 93), #300eba);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.content {
    margin-top: 10%;
    max-width: 600px;
}

.content h1 {
    font-size: 70px;
    color: #222;
}

.content p {
    margin: 10px 0 30px;
    color: #333;
    animation-delay: 0.5s;
}

.content .btn {
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}

.btn:hover {
    border-top-right-radius: 30px;
}

.feature-img {
    width: 530px;
    position: absolute;
    bottom: 0;
    right: 20%;
}

.feature-img .ani {
    animation-delay: 1.5s;
}

.ani {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}