<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="hero">
      <nav>
        <img src="logo.png" class="logo" /><span>CAR-KINBECH</span>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Predict</a></li>
        </ul>
        <div>
          <a href="#" class="login-btn">Login</a>
          <a href="#" class="btn">Register</a>
        </div>
      </nav>
      <div class="content">
        <h1 class="ani">Discover <br />Your Perfect Ride</h1>
        <p class="ani">
          Explore a vast selection of vehicles from trusted sellers. From sleek
          sedans to rugged SUVs and high-performance sports cars, AutoTrade Hub
          is your one-stop-shop for finding the car that matches your style and
          needs.
        </p>
        <a href="#" class="btn ani">Buy</a>
      </div>
      <img src="ford.png" class="feature-img ani" />
    </div>
  </body>
</html>
