{% extends 'store-base.html' %}
{% load static %}
{% block title %} Payment Success {% endblock %}
{% block content %}
<div class="container p-3">
  <div class="row">
    <div class="col d-flex align-items-center">
      <div class="ms-5">
        <h1 class="text-success">PAYMENT SUCCESS</h1>
       <p class="orange-text fst-italic fs-6">
        There was a problem processing your payment. Sorry, but we're having trouble proceessing your payment. You have not been charged for this Transaction. Please try again.
       </p>
       <button class="btn btn-outline-success rounded-pill">Home</button>
      </div>
    </div>
    <div class="col"> 
      <img class="img-fluid ms-3" src="{% static 'images/payment-success.jpg' %}" width="500" height="500">
    </div>
  </div>
  </div>
{% endblock %}